<!DOCTYPE html>


<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body style="margin: 0; padding: 0;">
   <table border="1" cellpadding="0" cellspacing="0" width="100%">

    <tr>
    <h1>
        <%= @username %>
    </h1>
    </tr>
    <p>
      Your movie, <%= @movie_name %>, has just been reviewed.
    </p>
  </body>
</html>
