#latest-movie-reviews h2 {
  margin-left: 10px;
}

#profile-photo-container {
  display: inline-block;
  height: 45px;
  margin-right: 10px;
}

#profile-photo {
  display: inline-block;
  padding-top: 0px;
}

.flash-notice {
  background-color: #E6F1DF;
  color: #639158;
  border: 1px solid #639158;
  padding: 3px;
  margin: 2px;
}

.flash-alert {
  background-color: #F1E3E2;
  color: #C26A58;
  border: 1px solid #C26A58;
  padding: 3px;
  margin: 2px;
}

.flash-error {
  background-color: #F1E3E2;
  color: #C26A58;
  border: 1px solid #C26A58;
  padding: 3px;
  margin: 2px;
}

#error_explanation ul li {
  list-style: none;
  background-color: #F1E3E2;
  color: #C26A58;
  border: 1px solid #C26A58;
  padding: 3px;
  margin: 2px;
}

.movie-review-tile {
  border-top: 2px solid #7B3B3B;
  border-left: 2px solid #7B3B3B;
  border-right: 2px solid #493736;
  border-bottom: 2px solid #493736;
  margin: 10px;
  padding: 5px;
  background-color: #F8F1E9;
}

.thumb-container {
  display: inline-block;
  float: left;
  width: 100px;
  margin-left: 20px;
}

span.movie-name {
  display: inline-block;
  font-size: 1.5em;
  color: #2A2829;
  margin-right: 20px;
}

.review-body {
  margin: 0
}

.movie-review-tile hr {
  margin-top: 2px;
  margin-bottom: 3px;
}

.upvote, .downvote {
  border-top: 2px solid #7B3B3B;
  border-left: 2px solid #7B3B3B;
  border-right: 2px solid #493736;
  border-bottom: 2px solid #493736;

  background-color: #F8F1E9;
  color: #7B3B3B;
  padding: 5px;
  margin-top: 2px;
  display: inline-block;
}

.show-page-review {
  padding: 10px;
  background-color: #F8F1E9;
  border: 1px solid #2A2829;
  border-bottom-width: 2px;
  border-right-width: 2px;
  color: #777;
  margin: 5px;
}

.show-page-review hr {
  margin-top: 2px;
  margin-bottom: 3px;
}

.vote-buttons {
  margin-top: 10px;
}

.review-body {
  color: #2A2829;
  font-size: 1.2em;
}

.review-form {
  padding: 17px;
}
